.app-container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.app-header {
  position: -webkit-sticky; // Safari
  position: sticky;
  top: 0;
  width: 100%;
  // place app header on top of dialogs
  // and therefore still usable when a dialog is displayed
  z-index: 1000;
}

.app-body {
  flex: 1 1 auto;
  position: relative;
}

.app-container > .container:first-child {
  padding: 2rem;
}

@media (min-width: 960px) {
  main > .container:first-child {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.app-footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1360px; // should match auth-web, etc
}

// Form Layout
.form__row + .form__row {
  margin-top: 0.25rem;
}

.form__btns {
  display: flex;

  .v-btn {
    margin: 0;

    + .v-btn {
      margin-left: 0.5rem;
    }

    &.form-primary-btn {
      margin-left: auto;
    }
  }
}