// Gray Palette
$gray0: #f8f9fa;
$gray1: #f1f3f5;
$gray2: #e9ecef;
$gray3: #dee2e6;
$gray4: #ced4da;
$gray5: #adb5bd;
$gray6: #868e96;
$gray7: #495057; // same as the Vuetify theme gray7
$gray8: #343a40;
$gray9: #212529; // same as the Vuetify theme gray9

// BC GOV BLUE PALETTE
$BCgovBlue0: #e0e7ed;
$BCgovBlue1: #b3c2d1;
$BCgovBlue2: #8099b3;
$BCgovBlue3: #4d7094;
$BCgovBlue4: #26527d;
$BCgovBlue5: #003366; // PRIMARY BLUE
$BCgovBlue5O: #01336626; // LOW OPACITY PRIMARY BLUE
$BCgovBlue6: #002e5e;
$BCgovBlue7: #002753;
$BCgovBlue8: #002049;
$BCgovBlue9: #001438;

// Accent Blue
$BCgovABlue1: #6e93ff;
$BCgovABlue2: #3b6cff;
$BCgovABlue3: #0846ff;
$BCgovABlue4: #003bee;

// BC GOV GOLD PALETTE
$BCgovGold0: #fff7e3;
$BCgovGold1: #feeaba;
$BCgovGold2: #fedd8c;
$BCgovGold3: #fdcf5e;
$BCgovGold4: #fcc43c;
$BCgovGold5: #fcba19; // PRIMARY GOLD
$BCgovGold6: #fcb316;
$BCgovGold7: #fbab12;
$BCgovGold8: #fba30e;
$BCgovGold9: #fa9408;

// Accent Gold
$BCgovAGold1: #ffffff;
$BCgovAGold2: #fff8ef;
$BCgovAGold3: #ffe0bc;
$BCgovAGold4: #ffd4a2;

// Error Colors
$BCgovInputError: #C62828; // aka "red darken-3"

// Form Inputs
$BCgovInputBG: #ffffff;

// Font Colors
$BCgovFontColorInverted: #ffffff;

// App Colors
$app-blue: #1669bb; // same as the Vuetify theme primary
$app-green: #1a9031; // same as the Vuetify theme success
$app-dk-green: #2e8540; // used for success checkmarks, same as theme success-checkmark
$app-red: #d3272c; // same as the Vuetify theme error
$app-dk-blue: #38598a; // same as the Vuetify theme appDkBlue
$app-lt-gray: rgba(0, 0, 0, 0.54); // used for overriding Vuetify red validation color for checkboxes

// Sizes for Fonts
$px-11: 0.6875rem;
$px-12: 0.7500rem;
$px-13: 0.8125rem;
$px-14: 0.8750rem;
$px-15: 0.9375rem;
$px-16: 1.0000rem;
